
@{
    ViewBag.Title = "Index";
}

<h2>Administradores </h2>
<body>
    <center>
      <img src="~/Imagenes/portada.jpg" alt="Chat Of Cthulhu" @*/*align="middle"*/*@ style="width: 100%; max-width: 600px;"  />
</center> 
 </body>
   
  <body 
      style="background-color:#000000;">
</body>