@model List<Chat.BL.Categoria>

@{
    ViewBag.Title = "Categorias";
}

<h2>Categorias</h2>

<table class="table-bordered table-hover" >
    
    @foreach (var categoria in Model)
    {
        <tr>
            <td>@categoria.Nombre</td>
            <td>@categoria.Descripcion</td>
        </tr>

    }
   
</table>

