@model List<The_Chat_of_Cuthulhu__users_.web.Models.CategoriasModel>
@{
    ViewBag.Title = "Categorias";
}

<h2>Categorias</h2>

@foreach (var categoria in Model)
{
    <p>@categoria.nombre</p>
    <p>@categoria.descripcion</p>
}

